
#banner {
	width: 100%;
	height: 18%;
}

#bar {
	
}

#menu {
width: 100%;
height: 42px;
font-family: Calibri; 
font-size: 25px;
text-align: center;
color: white;
background-color: #001C49;
padding-top: 6px;
padding-bottom: 6px;
}

#menu a:link, a:visited{
	color: white;
	text-decoration: none;
}

#menu a:hover {
	transition: 0.3s;
	background-color: #f4dc42;
	text-decoration: none;
}

#left_sidebar {
	width: 14%;
	height: 60%;
	float: left;
}

#center_content {
	margin-left: 1%;
	font-family: Calibri;
	width: 70%;
	float: left;
	background-color: #FFFFFF;
}

#right_sidebar {
	width: 10%;
	height: 60%;
	float: left;
}

.footer {
        position:fixed;
        left: 0;
        bottom:0;
	width: 100%;
	height: 20px;
	font-family: Calibri; 
	text-align: center;
	background-color: #001C49;
        
}

table {
	border: 1px solid #E42431;
	background-color: white;
}

th {
	border-bottom: 1px solid #A51A28;
	border-right: 1px solid #A51A28;
}

td {
	border-bottom: 1px solid #A51A28;
	border-right: 1px solid #A51A28;
	vertical-align: center;
}

.button {
    background-color: #D01F25;
    border: 1px solid #880106;
    border-radius: 8px;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-size: 24px;
}

.button:hover {
	transition: 0.3s;
	background-color: #f4dc42;
	color: black;
}

.alert {
	font-family: Calibri;
	font-size: 200%;
    padding: 10px;
    color: white;
    margin-bottom: 15px;
}

.alert.danger {background-color: #f44336;}
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.alerticon {
    color: white;
    font-weight: bold;
    float: left;
    font-size: 30px;
    line-height: 32px;
}

.alertclosebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.alertclosebtn:hover {
    color: #f4dc42;
}

/*styling inlog en registratie formulier*/
.loginstyling {
    margin:10px auto;
    max-width: 400px;
    padding: 19px 13px 50px 190px;
    font: 13px "Sans-Serif", "Sans-Serif", sans-serif;
    background:white;
    border:groove;
}

/*contact formulier styling*/
/*algemene styling hele formulier*/
.contactstyling {
    margin:10px auto;
    max-width: 500px;
    padding: 60px 13px 9px 19px;
    font: 13px "Sans-Serif", "Sans-Serif", sans-serif;
}

/*styling van de lists*/
.contactstyling li {
    padding: 0px;
    display: block;
    margin: 10px 0px 0px 0px;
}
/*styling van de labels*/
.contactstyling label{
    margin:0px 0px 4px 0px;
    padding:0px;
    display:block;
    font-weight: bold;
}

/*styling van de borders bij de textboxes en dikte van de boxes*/
.contactstyling input[type=text], 
.contactstyling input[type=email],

.loginstyling input[type=text],
.loginstyling input[type=email],
.loginstyling input[type=password],

textarea, 
select{
    box-sizing: border-box;
    border:1px solid #777f8c;
    padding: 6px;
    margin:0px;
}
/*styling van de borders (schaduw/glow toevoegen)*/
.contactstyling input[type=text]:focus, 
.contactstyling input[type=email]:focus,

.loginstyling input[type=text]:focus, 
.loginstyling input[type=email]:focus,
.loginstyling input[type=password]:focus,

.contactstyling textarea:focus, 
.contactstyling select:focus{
    box-shadow: 0px 0px 7px #7b97c4;
    border: 1px solid #7b97c4;
}

/*styling van de buttons*/
/*kleur submit button en dikte submit button*/
.contactstyling input[type=submit], .contactstyling input[type=button]{
    background: #4e96b7;
    padding: 10px 15px 10px 15px;
    color: #fff;
    border: none;
}
/*kleur reset button en dikte reset button*/
.contactstyling input[type=reset], .contactstyling input[type=button]{
    background: #4e96b7;
    padding: 10px 15px 10px 15px;
    color: #fff;
    border: none;
}
/*effect op button wanneer je er overheen hovered*/
.contactstyling input[type=submit]:hover, .contactstyling input[type=button]:hover{
    background: #4e96b7;
    box-shadow:none;
}