.herocycles{
    font-family: "Georgia", Times, serif;
    /* background-color: #292c2f; */
    background-color:#8B0000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.herocycles .herocycles-motto{
    font-family: "Georgia", Times, serif;
	color:  #ffffff;
	font-size: 24px;
	margin: 0;
}

.herocycles .herocycles-name{
    font-family: "Georgia", Times, serif;
    color:  #ffffff;
	font-size: 14px;
	margin: 0;
}

.herocycles .footer-links{
    font-family: "Georgia", Times, serif;
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.herocycles .footer-links a{
    font-family: "Georgia", Times, serif;
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* Als de footer niet responsive moet dan kun je alles hieronder weghalen*/

@media (max-width: 600px) {

	.herocycles{
		padding: 35px;
	}

	.herocycles .herocycles-motto{
		font-size: 18px;
	}

	.herocycles .herocycles-name{
		font-size: 12px;
	}

	.herocycles .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.herocycles .footer-links a{
		line-height: 1.8;
	}
}